# Requirements de desenvolvimento
blue
build
isort
prospector
twine
wheel
setuptools

# Requirements de testes
Pytest
pytest-cov

# Requirements de documentação
mkdocs
mkdocs-material
mkdocstrings-python
pymdown-extensions
mkdocs-custommill
mkdocs-windmill-dark
jinja2

# Requirements de produção
-r requirements.txt
